Makefile.in
Makefile
COPYING
INSTALL
log.txt
*.tar.gz
/vendor
*.log
*.rdb
/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/src/loftili
/src/.deps
*.swp
*.o
*.mp3
*.DS_Store
config.h
config.h.in~
.vimlocal
config.guess
config.log
config.status
config.sub
libtool
ltmain.sh
.deps/
.dirstamp
